USE [master]
GO
/****** Object:  Database [QLMA]    Script Date: 12/1/2024 9:05:21 PM ******/
CREATE DATABASE [QLMA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLMA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SERVER0\MSSQL\DATA\QLMA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLMA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SERVER0\MSSQL\DATA\QLMA_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLMA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLMA]
GO
/****** Object:  Table [dbo].[tb_Cachchebien]    Script Date: 12/1/2024 9:05:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Cachchebien](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_ChitietMonan]    Script Date: 12/1/2024 9:05:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_ChitietMonan](
	[MonAnID] [int] NOT NULL,
	[NguyenLieuID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MonAnID] ASC,
	[NguyenLieuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_MonAn]    Script Date: 12/1/2024 9:05:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_MonAn](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](255) NOT NULL,
	[CachchebienID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_NguyenLieu]    Script Date: 12/1/2024 9:05:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_NguyenLieu](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tb_Cachchebien] ON 

INSERT [dbo].[tb_Cachchebien] ([ID], [Ten]) VALUES (1, N'Luộc')
INSERT [dbo].[tb_Cachchebien] ([ID], [Ten]) VALUES (2, N'Hấp')
INSERT [dbo].[tb_Cachchebien] ([ID], [Ten]) VALUES (3, N'Chiên')
SET IDENTITY_INSERT [dbo].[tb_Cachchebien] OFF
GO
INSERT [dbo].[tb_ChitietMonan] ([MonAnID], [NguyenLieuID]) VALUES (1, 922)
INSERT [dbo].[tb_ChitietMonan] ([MonAnID], [NguyenLieuID]) VALUES (1, 923)
INSERT [dbo].[tb_ChitietMonan] ([MonAnID], [NguyenLieuID]) VALUES (1, 924)
GO
SET IDENTITY_INSERT [dbo].[tb_MonAn] ON 

INSERT [dbo].[tb_MonAn] ([ID], [Ten], [CachchebienID]) VALUES (1, N'Gà xào rau củ ', 4)
INSERT [dbo].[tb_MonAn] ([ID], [Ten], [CachchebienID]) VALUES (2, N'Canh gà nấu đậu ', 31)
INSERT [dbo].[tb_MonAn] ([ID], [Ten], [CachchebienID]) VALUES (3, N'Gà nướng mật ong ', 5)
GO
SET IDENTITY_INSERT [dbo].[tb_MonAn] OFF
GO
SET IDENTITY_INSERT [dbo].[tb_NguyenLieu] ON 

INSERT [dbo].[tb_NguyenLieu] ([ID], [Ten]) VALUES (922, N'Gà')
INSERT [dbo].[tb_NguyenLieu] ([ID], [Ten]) VALUES (923, N'Cà rốt')
INSERT [dbo].[tb_NguyenLieu] ([ID], [Ten]) VALUES (924, N'Đậu que')
GO
SET IDENTITY_INSERT [dbo].[tb_NguyenLieu] OFF
GO
ALTER TABLE [dbo].[tb_ChitietMonan]  WITH CHECK ADD FOREIGN KEY([MonAnID])
REFERENCES [dbo].[tb_MonAn] ([ID])
GO
ALTER TABLE [dbo].[tb_ChitietMonan]  WITH CHECK ADD FOREIGN KEY([NguyenLieuID])
REFERENCES [dbo].[tb_NguyenLieu] ([ID])
GO
ALTER TABLE [dbo].[tb_MonAn]  WITH CHECK ADD FOREIGN KEY([CachchebienID])
REFERENCES [dbo].[tb_Cachchebien] ([ID])
GO
USE [master]
GO
