<div class="shared-container">
    <div class="shared-container-left">
        <h2>
            Kích hoạt bot Telegram
            <!-- Thêm hình ảnh bên cạnh tiêu đề -->
            <a href="https://t.me/Suggests_dishes_bot" target="_blank">
                <img src="static/img/link.png" alt="Telegram Bot" class="bot-link-img">
            </a>
        </h2>
        <p>Bật bot Telegram</p>
    </div>
    <button id="toggle-bot-btn" class="btn" onclick="toggleBot()">Run Bot</button>
</div>

<!-- <script>
function toggleBot() {
    fetch("/toggle-bot", {
        method: "POST",
    })
    .then(response => response.json())
    .then(data => {
        const button = document.getElementById("toggle-bot-btn");
        if (data.bot_running) {
            button.textContent = "Bot is running";
            button.className = "btn running";
            alert("Bot is now running");
        } else {
            button.textContent = "Run Bot";
            button.className = "btn stopped";
            alert("Bot has been stopped");
        }
    })
    .catch(error => console.error("Error:", error));
}
</script> -->
