<div class="shared-container">
    <div class="shared-container-left">
        <h2>Cập nhật TF-IDF</h2>
        <p>Cập nhật mới dữ liệu từ cơ sở dữ liệu</p>
    </div>
    <button onclick="updateTfidf()">Update</button>
</div>

<div class="shared-container">
    <div class="shared-container-left">
        <h2>Cập nhật data train model</h2>
        <p>Thêm dữ liệu từ input người dùng vào để tiếp tục train</p>
    </div>
    <button id="update-data-btn" onclick="addUserInputData()">Update</button>
</div>

<div class="shared-container">
    <div class="shared-container-left">
        <h2>Cập nhật file dữ liệu vị trí nhãn</h2>
        <p>Cập nhật file dữ liệu dùng trong việc train model nhận diện label</p>
    </div>
    <button onclick="updateDataTrain()">Update</button>
</div>

<div class="shared-container">
    <div class="shared-container-left">
        <h2>Huấn luyện Model</h2>
        <p>Huấn luyện model nhận diện label từ người dùng</p>
    </div>
    <button onclick="trainModel()">Start</button>
</div>
